.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple; /* Cor roxa para o background */
  padding: 10px 20px;
  color: white;
  
}

.logo img {
  width: 100px; 
  border-radius: 50%;
}

.login-button button {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.sign-out-icon {
  background-color: transparent; /* Torna o fundo do ícone transparente */
  font-size: 1.25em; /* Ajuste o tamanho do ícone conforme necessário */
  vertical-align: middle; /* Alinhar verticalmente com o texto */
}

